# virtual environment data and files
pyvenv.cfg
bin/*
etc/*
lib/*
share/*

# Python cache
__pycache__/*

# Jupyter checkpoints
.ipynb_checkpoints/*

# documentation
dev notes.txt

# environment files
.env
openai*

# test data files
test.csv
starcraft_units/*
*.ipynb

# package files
poetry.lock
dist/plytonic-0.1.0-py3-none-any.whl
dist/plytonic-0.1.0.tar.gz
