# virtual environment data and files
pyvenv.cfg
bin/*
etc/*
lib/*
share/*

# Python cache
__pycache__/*

# Jupyter checkpoints
.ipynb_checkpoints/*

# environment files
.env
openai*

# test data files
test.csv
